*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: auto 0px;
    color: #131313;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}
.conteneur{
    padding: 0 !important;
}
h1,h2,h3{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
}
.sansMarge{
    margin: 0 !important;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.fondGris{
    background-color: #191919;
    color: #e7e7e7;
}
.paddingTop{
    padding-top: 2%;
}
.global{
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
}
/*---------------LOGO--------------*/
.logo{
    position: sticky;
    display: flex;
    top: 2%;
    margin-left: 2%;
}
.logo2{
    position: relative;
    display: flex;
}
.Q{
    position: relative;
    width: 50px;
    height: 50px;
    background: #527a7a;
    border-radius: 50%;
    animation: animateQ 5s linear infinite;
}
.Q2{
    position: relative;
    width: 30px;
    height: 30px;
    background: #527a7a;
    border-radius: 50%;
    animation: animateQ 5s linear infinite;
}
@keyframes animateQ{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.Q::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 10%;
    background: #527a7a;
    top: 82%;
    left: 65%;
    transform:rotateZ(45deg);
}
.Q2::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 10%;
    background: #527a7a;
    top: 82%;
    left: 65%;
    transform:rotateZ(45deg);
}
.C{
    position: absolute;
    left: 9%;
    top: 9%;    
    bottom: 9%; 
    right: 50%;
    background: #121212;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    animation: animate 5s linear infinite;
    transform-origin: right center;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
} 
   /*--------------------------------------HEADER-----------------------------*/
    header{  
        height: 95vh;
        background-image: url(../images/Auvergne_plateau_du_guery-17.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3%;
        position: relative;
    }
    .header{
        position: relative;
        top: 20%;
        display: flex;
        justify-content: center;
    }
    .titre{
        color: #fdf9f9;
        font-size: 2.8em;
    }
    .colored_text_2{
        color: #8c8c8c;
    }
    nav{
        position: absolute !important;
        bottom: 0;
        width: 100%;
        background-color: #e7e7e7;
    }
/*--------------------------------------ABOUT ME---------------------------*/
.bloc{
    height: 280px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grande_taille{
    font-size: 120px;
}
.borderBottom{
    border-bottom: 1px solid #527a7a;
}
.borderRight{
    border-right: 1px solid #527a7a;
}
.blocParagraphe{
    width: 75%;
}
.blocNonCentrer{
    height: 280px;
    text-align: justify;
    padding-left: 2%;
    padding-top: 1%;
}

    /*---------------------------------COMPETENCES-----------------------*/
    .ligne_2{
        padding: 3% 0;
    }
    .ligneCompetences{
        min-height: 30vh;
        margin: 0 !important;
        padding: 0 5%;
    }
    .ligneCompetences2{
        padding: 0 5% 2% 5%;
    }
    .sujet{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /*----BAR DE COMPETENCES----*/
    .bar{
        background-color: #1f2e2e;
        height: 15px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.9);
    }
    .barRemplissage{
      height: 15px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: #fdf9f9;
      position: relative;
    }
    .barRemplissage::before{
      content: attr(value);
      position: absolute;
      padding: 4px 6px;
      background-color: #1f2e2e;
      color: #fdf9f9;
      font-size: 9px;
      border-radius: 5px;
      bottom: -26px;
      right: 0;
      transform: translateX(50%);
    }
    .barRemplissage::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #1f2e2e;
      right: -6px;
      bottom: -11px;
      transform: rotate(45deg);
    }
    .uk{
        width: 100%;
        animation: uk 2s;
    }
    .html{
        width: 95%;
        animation: html 2s;
    }
    .css{
        width: 70%;
        animation: css 2s;
    }
    .js{
        width: 60%;
        animation: js 2s;
    }
    .php{
        width: 8%;
        animation: php 2s;
    }
    .bootstrap{
        width: 60%;
        animation: bootstrap 2s;
    }
    .git{
        width: 65%;
        animation: git 2s;
    }
    
    @keyframes uk{
        0%{
            width:0%;
        }
    }
    @keyframes html{
        0%{
            width:0%;
        }
    }
    @keyframes css{
        0%{
            width:0%;
        }
    }
    @keyframes js{
        0%{
            width:0%;
        }
    }
    @keyframes php{
        0%{
            width:0%;
        }
    }
    @keyframes bootstrap{
        0%{
            width:0%;
        }
    }
    @keyframes git{
        0%{
            width:0%;
        }
    }
/*----------------------------------PROJETS---------------------*/
.ligneProjets{
    padding: 2% 0;
    display: flex;
    justify-content: center;
}
.containerImg{
    overflow: hidden;
}
.images_projets{
    height: 200px;
    width: 200px;
    margin-bottom: 2%;
}
.images_projets:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.monContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.grille{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    row-gap: 3px;
    column-gap: 3px;
}

/*------------------------------CONTACT------------------------*/
    .decalageDroite{
        display: flex;
        justify-content: end;
        margin-bottom: 2%;
    }
    .lien{
        color: #e7e7e7;
        text-decoration: none;
    }
    .lien:hover{
        color: #e7e7e7;
    }
    iframe{
        border-radius: 5px;
        margin-top: 2%;
    }
    .displayFlexAlign{
        display: flex;
        align-items: center;
        gap: 2%;
    }
    .taillePoliceMoyenne{
        font-size: 1.5em
    }
    .tailleTitre{
        font-family: 'Oxygen', sans-serif;
    
    }
/*-----------------------------------FOOTER---------------------------*/
footer{
    padding: 1% 0;
}
.displayFlexCenter{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.reseau:hover{
    transform: scale(1.1);
}

/*------------------------------BOUTON RETOUR-----------------------*/
    .top {
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        place-self: end;
        position: sticky;
        bottom: 20px;
        margin-top: 100vh;
        --offset: 200px; 
        color: #4d4d4d;
        margin-top: calc(100vh + var(--offset));

        white-space: nowrap;
        display: flex;
        flex-direction: column;
    }
    .top:hover{
        color: #4d4d4d;

    }
    .fleche{
        width: 50px;
    }

@media screen and (max-width:400px) {
    .marginBottomResponsive{
        margin-bottom: 10%;
    }
    .borderBottom{
        border: none;
        margin: 5%;
    }
    .borderRight{
        border: none;
    }
    .flexReverseResponsive{
        display: flex;
        flex-direction: column-reverse;
    }
    body{
        grid-template-columns: 100% 0px;
    }
    .ligneCompetences{
        height: 100%;
    }
    .taillePoliceMoyenne{
        font-size: 1em
    }
    .decalageDroite{
        justify-content: center;
    }
    iframe{
        width: 300px;
        height: 150px;
    }
    .grille{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:900px){
    .responsiveMarge{
        margin-top: 5%;
    }
    .top{
    margin-top: 100vh;
    }
}